body{
	width: 800px;
	margin: auto;
	font-family: monospace;
	color: orange;
	background-color: black;
}

img{
	border: 5px solid orange;
}

h1{
	font-size: 75px;
}

p{
	font-size: 30px;
}
